DB_NAME=imarket
DB_USER=postgres
DB_PASS=1234
DB_HOST=localhost
DB_PORT=5432

PORT=3030
APP_VERSION=api/v1

TOKEN_ACCESS_TOKEN_KEY=
TOKEN_ACCESS_TOKEN_TIME=90000

SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_FULLNAME=

UPLOAD_FOLDER=uploads
GET_URL=http://localhost:3030

FRONT_URL=http://localhost:5173/teacher
SWAGGER_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3030/api/v1/auth/google/callback
JWT_SECRET=

TELEGRAM_BOT_TOKEN=

EMAIL_USER=www.komol7390@gmail.com
EMAIL_PASS=