DB_NAME=school
DB_USER=postgres
DB_PASS=12345
DB_HOST=localhost
DB_PORT=5432

PORT=
APP_VERSION=

TOKEN_ACCESS_TOKEN_KEY=
TOKEN_ACCESS_TOKEN_TIME=

SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_FULLNAME=

UPLOAD_FOLDER=

SWAGGER_PASSWORD=

FRONT_URL_LOCAL=
FRONT_URL_SERVER=

BECKEND_URL_LOCAL=
BECKEND_URL_SERVER=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

JWT_SECRET=

TELEGRAM_BOT_TOKEN=

EMAIL_USER=
EMAIL_PASS=
NODE_ENV=

# super adminn
{
  "username": "Komol",
  "password": "@Komol7390x"
}

# adminn
{
  "username": "admin",
  "password": "Admin123!@"
}

{
  "email": "www.komol8689@gmail.com",
  "password": "@Komol12345"
}